:host /deep/ ng2-smart-table {
    font-size: 18px;
}
:host /deep/ ng2-smart-table tbody  { 
	text-align: left; 
    background-color:rgba(21, 0, 250, 0.17);  
    border-bottom-color:  #111111;
    font-size: 18px;          border: 1px solid #111111;
    
}
:host /deep/ ng2-smart-table tbody>tr>td  { 
      border: 1px solid #111111;
    
}
:host /deep/ ng2-smart-table tbody>tr>td:first-child  { 
	text-align: left; 
    background-color:rgba(21, 0, 250, 0.17);  
    border-bottom-color:  #111111;
    font-size: 20px;
    font-weight: bold
        
}
tabset{
    background-color: rgba(100, 18, 240, 0.51)
}
#tabDiv{
    background-color: rgba(210, 192, 240, 0.18)
}