<p>
  archives works!
</p>
<div class="container">
  <h1><strong>Welcome admin</strong><br/> Please select the action you want to perform</h1>
  <div id="tabDiv" class="container-fluid">
    <tabset>
      <tab>
        <span *tabHeading>
                       <b >Applicants list</b>
                    </span>
        <div class="container">
        </div>
        <div *ngFor="let Applicant of AllApplicants;let i = index" class="col-md-4">
            <div class="card">
                    <div class="card-content">
                      <div class="card-header-blue">
                        <div class="row">
                            <div class="col-sm-2"><i style="font-size:120%;" [title]="Applicant.LockedBy!=''?'Locked By :'+Applicant.LockedBy:'' "  [class]="Applicant.LockedBy!='' ?'fa fa-lock':'fa fa-unlock-alt'" aria-hidden="true" ></i></div>
                            <div class="col-sm-6" ></div>
                          <div  class="col-sm-2"><i *ngIf="AuthService.Role" (click)="PrepareForEdit(Applicant)" style="font-size:120%;text-align:center" class="fa fa-pencil" aria-hidden="true"></i></div>
                          <div class="col-sm-2"><i *ngIf="AuthService.Role" (click)="DeleteApplicant(Applicant.Id)" style="font-size:120%;" class="fa fa-trash-o" aria-hidden="true"></i></div>      
                        </div>
                          <div class="card-body">
         <div><h4  class="card-heading"><span><i style="display:absolute" class="fa fa-id-card" aria-hidden="true"></i></span> <b>{{Applicant.Name}}</b></h4></div>
                            </div>
                    </div>
                </div>
              </div>
              </div>  
        <!--   <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
          <ng2-smart-table [settings]="settings" [source]="arProducts"></ng2-smart-table>--> 
          <pagination-controls (pageChange)="p = $event"></pagination-controls>       
          
        </tab>
      <tab>
        <span *tabHeading>
                      <b >Jobs list</b>
                  </span>
        <div class="container">
        </div>
        <div *ngFor="let Job of Jobs  | paginate: { itemsPerPage: 6, currentPage: p }; let i = index" class="col-sm-4">
            <div class="card">
              <div class="card-content">
                <div class="card-header-blue">
                  <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-xs-2"><i *ngIf="AuthService.Role" (click)="PrepareForEdit(Job)" style="margin-left:45px" class="fa fa-pencil" aria-hidden="true"></i></div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-2"><i *ngIf="AuthService.Role" (click)="DeleteJob(Job.Id)" style="margin-left:20px" class="fa fa-trash-o" aria-hidden="true"></i></div>
                  </div>
                  <div>
                    <h4 class="card-heading"><span><i style="display:absolute" class="fa fa-id-card" aria-hidden="true"></i></span> <b>{{Job.Title}}</b></h4>
                  </div>
                </div>
                <div class="card-body">
                  <span *ngIf="Job.Recruiters.length != 0" style="font-weight:500">Recruiters:</span>
                  <span *ngIf="Job.Recruiters.length == 0" style="font-weight:600;color:red">Hr Posted this Job <br>  <br> </span>
                  <button *ngFor="let rec of Job.Recruiters" type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-thumbs-up"></span> {{rec.UserName}}
                          </button>
                </div>
                <h6> Skills : </h6>
                <nav>
                  <ul *ngFor="let Skill of Job.Skills | slice : 0 : 3">
                    <li class="card-action"><a [title]="Skill.Description">{{Skill.Name}}</a></li>
                  </ul>
                </nav>
                <span>Description : {{Job.Description}}</span>
              </div>
            </div>
          </div>
      </tab>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>       
      
    </tabset>
  </div>
</div>