 ng2-smart-table {
    color: rgb(1, 62, 255);
    text-shadow: 3px 3px 6px #FFFFFF;
    font-size: 20px;
    background-color: #000000
}
/* :host /deep/ ng2-smart-table {
    font-size: 18px;
    color: rgba(4, 61, 237, 0.91);
    font-size: xx-large;
    background-color: #000000
} */
:host /deep/ ng2-smart-table tbody  { 
	text-align: left; 
    background-color:rgba(21, 0, 250, 0.17);  
    border-bottom-color:  #111111;
    font-size: 18px;     
         border: 1px solid #111111;
         background-color:rgba(255, 255, 255, 0.67);  
         
}
:host /deep/ ng2-smart-table tbody>tr>td  { 
      border: 1px solid #111111;
    
}
:host /deep/ ng2-smart-table tbody>tr>td:first-child  { 
	text-align: left; 
    background-color:rgba(21, 0, 250, 0.17);  
    border-bottom-color:  #111111;
    font-size: 20px;
    color: #111111;
    font-weight: bold
        
}
/* tabset{
    background-color: rgba(100, 18, 240, 0.72)
}
#tabDiv{
    background-color: rgba(210, 192, 240, 0.34)
} */
.container{
    /* background-color: rgba(152, 162, 172, 0.32); */
    /* color: #DC0F0F */
}