<button  id="Headline" style="margin-top:50px" (click)="AddJobForm()" class="alert alert-info" ><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
<app-job-post *ngIf="AddJob" ></app-job-post>
  <div *ngIf=" !EditMode && !AddJob"  class="container-fluid">
    <div class="row" >
  <div *ngFor="let Job of Jobs ; let i = index" class="col-sm-4">
    <div class="card">
            <div class="card-content">
              <div class="card-header-blue">
                  <div class="row">
                    <div class="col-sm-5" ></div>
                    <div class="col-xs-2"><i *ngIf="AuthService.Role"  (click)="PrepareForEdit(Job)" style="margin-left:45px" class="fa fa-pencil" aria-hidden="true"></i></div>
                    <div class="col-xs-2" ></div>
                    <div class="col-xs-2"><i *ngIf="AuthService.Role" (click)="DeleteJob(Job.Id)" style="margin-left:20px" class="fa fa-trash-o" aria-hidden="true"></i></div>      
                    </div>
                   <div><h4  class="card-heading"><span><i style="display:absolute" class="fa fa-id-card" aria-hidden="true"></i></span> <b>{{Job.Title}}</b></h4></div>
                 </div>
                 <div class="card-body">
                  <span *ngIf="Job.Recruiters.length != 0"  style="font-weight:500" >Recruiters:</span>
                  <span  *ngIf="Job.Recruiters.length == 0"  style="font-weight:600;color:red" >Hr Posted this Job <br>  <br> </span>
                  <button *ngFor="let rec of Job.Recruiters" type="button" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-thumbs-up"></span> {{rec.UserName}}
                    </button>
               </div>
               <h6>       Skills : </h6 >          
               <nav >
                 <ul  *ngFor="let Skill of Job.Skills | slice : 0 : 3">
                        <li class="card-action"><a  [title]= "Skill.Description"  >{{Skill.Name}}</a></li>
                    </ul>          
               </nav>
              <span>Description : {{Job.Description}}</span> 
               
                 
            </div>
        </div>
     </div>  </div>
  
     
  </div>

<app-update-job (Appearance)="OnAppearance($event)" *ngIf="EditMode && !AddJob" [JobToUpdate]="JobToEdit">  </app-update-job>

