<p>
  interview-summery works!
</p>
<div class="containerdiv">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-centered">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1>interview summery</h1>
          </div>
          <form>
            <div class="panel-body">
              <!-- <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user blue"></i></span>
                  <input type="text" name="InputName" placeholder="Name" class="form-control" autofocus="autofocus" required>
                </div>
              </div> -->
              <div class="row">
                <span class="col-sm-6"><i class="fa fa-user blue">    Name </i></span>
                <span class="col-sm-6"><i class="glyphicon glyphicon-envelope blue">    Email</i></span>
              </div>

              <div class="row">
                <span class="col-sm-6"><i class="fa fa-phone blue">   Title</i></span>
                <span class="col-sm-6"><i class="fa fa-phone blue">   Position</i></span>
              </div>
              <hr/>

              <div class="row">
                <div class="col-sm-8">
                  <span><i class="fa fa-pencil blue">Summary</i></span>
                  <textarea name="InputMessage" class="form-control" type="text" required></textarea>
       
                </div>
                <div class="col-sm-2">
                  <div class="row"> 
                      <button class="col-sm-12" class="btn"> Fail </button>
                      <button class="col-sm-12" class="btn"> Pass </button>
                      <button class="col-sm-12" class="btn"> N/A </button>
                  </div>
                    
                  </div>

              </div>
              <div class="">
                <button type="submit" class="btn btn-info pull-right">Send <span class="fa fa-send"></span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>