#homeDiv{
    font-family: 'Archivo Black', sans-serif;
    color: #000000;
    font-weight: bold;
    font-stretch: ultra-expanded;
    margin-top: 10%;
    background-color: rgba(197, 188, 212, 0.43);
    text-align: center;
    align-items: center
}
